<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments.html :: head}">
</head>
<body class="bg-light">
<div th:replace="~{fragments.html :: main-nav}"></div>

<div class="container">
  <div class="row mt-5 justify-content-center">
    <div class="col-2">
      <div th:replace="~{fragments.html :: settings-menu(currentMenu='profile')}"></div>
    </div>
    <div class="col-8">
      <!--수정 완료 메세지-->
      <div th:if="${message}" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
        <span th:text="${message}">메시지</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


      <div class="row">
        <!--nickname-->
        <h2 class="col-sm-12" th:text="${account.nickname}">whiteship</h2>
      </div>
      <div class="row mt-3">
        <form class="needs-validation col-12" action="#"
              th:action="@{/settings/password}" th:object="${passwordForm}" method="post" novalidate>
          <div class="form-group">
            <label for="newPassword">새로운 비밀번호</label>
            <input id="newPassword" type="password" th:field="*{newPassword}" class="form-control"
                   aria-describedby="newPasswordHelp" required min="8" max="50">
            <small id="newPasswordHelp" class="form-text text-muted">
              8자 이상 50자 이하로 입력하세요.
            </small>
            <small class="form-text text-danger" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">
              8자 이상 50자 이하로 입력하세요.
            </small>
          </div>
          <div class="form-group">
            <label for="newPasswordConfirm">링크</label>
            <input id="newPasswordConfirm" type="password" th:field="*{newPasswordConfirm}" class="form-control"
                   aria-describedby="newPasswordConfirmHelp" required min="8" max="50">
            <small id="newPasswordConfirmHelp" class="form-text text-muted">
                새 패스워드를 다시 한번 입력하세요.
            </small>
            <small class="form-text text-danger" th:if="${#fields.hasErrors('newPasswordConfirm')}" th:errors="*{newPasswordConfirm}">
                새로운 비밀번호와 일치하지 않습니다.
            </small>
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit"
                    aria-describedby="submitHelp">수정하기</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>
